# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.idea

# Folders
Intermediate
Binaries
Build
build
cmake-build-debug
cmake-build-release
.idea
Sandbox/Assets/Cached
# sponza_dubrovnik huge model, github won't allow to store it
Sandbox/Assets/Meshes/sponza_dubrovnik/

# Misc
*.log
*.focus
Win64_Build.bat
*.cap