[submodule "Pathfinder/vendor/GLFW"]
	path = Pathfinder/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Pathfinder/vendor/volk"]
	path = Pathfinder/vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "Pathfinder/vendor/glm"]
	path = Pathfinder/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Pathfinder/vendor/fastgltf"]
	path = Pathfinder/vendor/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "Pathfinder/vendor/stb"]
	path = Pathfinder/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Pathfinder/vendor/meshoptimizer"]
	path = Pathfinder/vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "Pathfinder/vendor/vma"]
	path = Pathfinder/vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Pathfinder/vendor/spirv-reflect"]
	path = Pathfinder/vendor/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "Pathfinder/vendor/simdjson"]
	path = Pathfinder/vendor/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "Pathfinder/vendor/imgui"]
	path = Pathfinder/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
